{% extends 'base.html.twig' %}

{% block title %}Doctor index{% endblock %}

{% block body %}
<section class="doctors">
    <div class="container">


        {% for doctor in doctors %}
            {% include 'doctor/_card.html.twig' with {'doctor' : doctor} only %}
        {% endfor %}

    </div>
</section>

{% endblock %}
